#Home {
    display: block;
}

aside {
    .image-content-aside {
        width: 100%;
        text-align: center;
        img {
            width: 70%;
        }
    }
}

main { 
    .main-content {
        .logo-content {
            display: none;
        }
    
        .intro-text-content {
            
            h1 {
                margin-inline: 2rem;

                text-align: center;
                
                font-size: 1.55rem;
                color: #000000;
                font-weight: 700;
            }

            p {
                text-align: center;
                margin-top: 5%;
                font-size: .75rem;
                color: #8f8f8f;
                font-weight: 600; 
            }
        }
    
        .buttons-content {
            display: flex;
            text-align: center;
            justify-content: center;

            margin-top: 10%;
            gap: 1rem;

            .create-button,.join-button {
                height: 6vh;
                width: 40%;
                border-radius: .8rem;
                box-shadow: .1rem .1rem .3rem  #888888;
                border: none;
                p {
                    font-weight: 700;
                    color: #ffff;
                    padding: .65rem;
                    font-size: .75rem;
                }
            }

            .create-button {
                background-color: #EC255A;
            }

            .join-button {
                background-color: #161853;
            }
        }

        .input-content {
            
            form {                
                margin-top: 7%;
                
                justify-content: center;
                text-align: center;
                gap: .5rem;
                
                input {
                    font-size: .55rem;
                    
                    padding: .5rem;

                    width: 60vw;
                    height: 5vh;
                    
                    border-radius: .5rem;
                    border: none;
                    border: 1px solid #c1c1c1;
                    box-shadow: .1rem .1rem .4rem  #cacaca;

                }

                button {
                    border: none;
                    border-radius: .8rem;
                    height: 4vh;
                    padding: .5rem;
                   
                    background-color: #292c6d;
                    box-shadow: .1rem .1rem .4rem  #cacaca;
                    p{
                        font-weight: 600;
                        color: #fff;
                        font-size: .55rem;
                    }
                }
            }
        }
    }
}

@media (min-width:550px) {
    aside {
        .image-content-aside {
            img {
                padding-top: 0;
                width: 65%;
            }
        }
    }

    main {

        .main-content {
            .intro-text-content {
                p {
                    margin-top: 3%;
                }
            }

            .buttons-content {
                margin-top: 2%;
                
            }

            .input-content {
                form {
                    margin-top: 2%;
                    input {
                        margin-top: 1%;
                    }
                }
            }
        }
    }
}

@media (min-width:780px) {
    aside {
        .image-content-aside {
            img {
                padding-top: 5%;
                width: 75%;
            }
        }
    }

    main {

        .main-content {
            .intro-text-content {

                h1 {
                    font-size: 1.75rem;
                }

                p {
                    margin-top: 3%;
                    font-size: 1.25rem;
                }
            }

            .buttons-content {
                margin-top: 2%;
                
                .create-button,.join-button {
                    height: 7vh;

                    p {
                        font-size: .95rem;
                    }
                }
            }

            .input-content {
                form {
                    margin-top: 5%;
                    input {
                        font-size: .95rem;
                    }

                    button {
                        p {
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1050px) {
    #Home {
        display: flex;
    }

    aside {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        float: left;
        .image-content-aside {
            text-align: end;
            img {
                padding: 0;
                text-align:end;
                margin-top: auto;
                margin-bottom: auto;
                width: 80%;
            }
        }
    }

    main { 
        margin: 0;
        padding: 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .main-content {
            margin-right: 15%;
            display: flex;
            justify-content: center;
            text-align: center;
            display: inline;
            height: auto;
            
            .logo-content {
                display: block;
                margin-top: auto;
                margin-bottom: auto;
                text-align: center;
                img {
                    width: 65%;
                }
            }

            .intro-text-content {
                h1 {
                    padding-top: 5%;
                    font-size: 2.25rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .buttons-content {
                margin-top: 12%;

                .create-button,.join-button {
                    height: 15vh;
                    width: 50%;

                    p {
                        font-size: 1.55rem;
                        color: #ffff;
                        padding: 1.25rem;
                    }
                }

                .create-button:hover {
                    background-color: #881735;
                    transition: .5s;
                    cursor: pointer;
                }

                .join-button:hover {
                    background-color: #0d0e31;
                    transition: .5s;
                    cursor: pointer;
                }

                
            }

            .input-content {
                form {
                    button {
                        padding: .8rem;
                        height: 8vh;
                        p {
                            font-size: 1.15rem;
                        }
                    }

                    button:hover {
                        cursor: pointer;
                        background-color: #141636;
                        transition: .5s;
                    }

                    input {
                        font-size: 1.2rem;
                        width: 100%;
                        height: 8vh;
                    }
                }
            }
        }
    }
}