#Home {
    display: block;
}

aside {
    .image-content-aside {
        width: 100%;
        text-align: center;
        img {
            padding-top: 15%;
            width: 100%;
        }
    }
}

main { 
    .main-content {
        .logo-content {
            display: none;
        }
    
        .intro-text-content {
            
            h1 {
                text-align: center;
                
                font-size: 1.75rem;
                color: #8f8f8f;
                font-weight: 700;
            }

            p {
                text-align: center;
                margin-top: 5%;
                font-size: 1rem;
                color: #8f8f8f;
                font-weight: 400; 
            }
        }
    
        .buttons-content {
            display: flex;
            text-align: center;
            justify-content: center;

            margin-top: 10%;
            gap: 1rem;

            .create-button,.join-button {
                height: 10vh;
                width: 30%;
                border-radius: 5%;
                border: none;
                p {
                    font-weight: 700;
                    color: #ffff;
                    padding: 1rem;
                    font-size: .95rem;
                }
            }

            .create-button {
                background-color: #EC255A;
            }

            .join-button {
                background-color: #161853;
            }
        }

        .input-content {
            display: flex;
            
            form {
                display: flex;
                
                margin-top: 10%;
                
                justify-content: center;
                text-align: center;
                gap: .5rem;

                input {
                    width: 40%;
                    height: 5vh;
                    border-radius: 5%;
                    border: none;
                    border: 1px solid black;
                }

                button {
                    border: none;
                    border-radius: 5%;
                    padding: .5rem;
                    background-color: #292c6d;
                    p{
                        font-weight: 600;
                        color: #fff;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}