#Room {
    display: block;
}

header {
    background-color: #f6f6f6;

    border: 1px solid #c1c1c1;
    
    display: flex;
    
    height: 12vh;

    .logo-content {
        margin-top: auto;
        margin-bottom: auto;

        text-align: center;
        img {
            width: 75%;
        }
    }
}

.info-rooms-content {
    display: flex;
    gap: .5rem;

    button {
        margin-top: auto;
        margin-bottom: auto;

        height: 8vh;
        
        border-radius: .5rem;
        border: none;

        padding: .5rem;

        background-color: #ffff;

        font-weight: 600;
        font-size: .75rem;
    }

    .clipboard-room {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        
        gap: .2rem;

        background-color: #cacaca;

        color: #EC255A; 
    }

    .exit-room,
    .close-room {
        background-color: #EC255A;
        color: #ffff;
    }

    .close-room {
        margin-right: .8rem;
    }
}

.send-questions-content{
    h1 {
        font-size: 1.05rem;
        font-weight: 900;

        margin-top: 5%;
        margin-left: 5%;
    }
}

.form-content  {

    display: flex;
    justify-content: center;

    textarea {
        resize: none;

        margin-top: 2%;

        border-radius: .5rem;
        border: none;
        border: 1px solid #c1c1c1;

        padding: .5rem;

        width: 80%;
        height: 20vh;

        font-size: .75rem;

        margin-bottom: 2%;
    }
}

.content-button {
    display: flex;
    .user-content {
        display: flex;
        justify-content: initial;
        
        p {
            font-size: .75rem;
            padding-right: 15%;
            font-weight: 600;
        }
    }

    .image-content-user {
        text-align: end;
        margin-right: .2rem;
        img {
            width: 30%;
            border-radius: 50%;
        }
    }

    .send-button {
        font-weight: 600;
        font-size: .8rem;
        color: #ffff;
        
        border: none;
        border-radius: .5rem;

        text-align: center;

        padding: .5rem;

        background-color: #161853;
    }
}

.question-feed {
    display: block;
}

.container-user {
    border: 1px solid #c1c1c1;
    border-radius: .5rem;

    padding: .5rem;
    
    width: 80%;

    margin-top: 5%;
    margin-inline: auto;

    display: block;

    .image-and-name-content {
        display: flex;
    }

    .user-infos-content {
        display: flex;

        img {
            border-radius: 50%;
            width: 10%;
        }

        p {
            font-size: .75rem;
            font-weight: 700;
        }
    }

    .time-content {
        span {
            font-weight: 900;
            color: #979797;
            font-size: .75rem;
        }
    }

    .message-content {
        p {
            margin-top: 2%;

            font-size: .85rem;
            text-indent: 5%;
        }
    }
}